{% extends 'layout.html' %}


{% block main %}
<div class="container">
    <h1>Floyd's Dreams of Dylan Series</h1>
    <div class="row">
        <div class="two-thirds column">
        <div class="painting" id="fantasy-islands">
            <h4>#3 Nobel Price 2016</h4>
            <img src="{{ url_for('static', filename="img/nobel-prize-2016") }}" usemap="#painting-map" > 
            <p>Oil paint on canvas</p>
        </div>
        </div>
        <div class="one-third column">
            <h2>Process</h2>
            <ul>
                <li>Paintings in Series
                  <ol>
                    <li>
                        <a href="{{ url_for('display', path='fantasy-islands') }}">Fantasy Islands</a>
                        <ul>
                          <li>Frame</li>
                          <li>Amusement Park</li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ url_for('display', path='drive-in-the-dark') }}">Drive in the Dark</a>
                    </li>
                    <li>
                        <a href="{{ url_for('display', path='nobel-prize-2016') }}">Nobel Prize 2016</a>
                    </li>
                  </ol>
                </li>
                <li><a href="{{ url_for('display', path='pirate-radio') }}">Radio</a>
                </li>
                <li><a href="{{ url_for('display', path='jeremy-nelson') }}">Artist</a></li>
            </ul>
            <h3>Playlists</h3>
            <ol>
            {% for show in podcasts %}
                <li>{{ show }}</li>
            {% endfor %}
            </ol>
        </div>
    </div>
</div>
<map id="painting-map">
 <area shape="rect" coords="82,164,207,345" href="{{ url_for('display', path="dylans-head") }}">
 <area shape="rect" coords="228,50,478,278" href="{{ url_for('display', path="title-island") }}">
 <area shape="circle" coords="485,396,60" href="{{ url_for('display', path="lucid-dreamer") }}">
</map>
{% endblock %}
