{% extends 'layout.html' %}


{% block main %}
<div class="container">
    <h1>Floyd's Dreams of Dylan</h1>
    <div class="row">
        <div class="two-thirds column">
        <div class="painting">
            <img src="{{ url_for('static', filename="img/floyds-dreams-of-dylan-2013-03-23.jpg") }}" usemap="#painting-map" > 
            <p>Oil paint on canvas</p>
        </div>
        </div>
        <div class="one-third column">
            <h2>Process</h2>
            <ul>
                <li>Painting</li>
                <li>Frame</li>
                <li>Amusement Park</li>
                <li>Radio</li>
                <li><a href="{{ url_for('display', path='jeremy-nelson') }}">Artist</a></li>
            </ul>
            <h3>Playlists</h3>
            <ol>
            {% for show in podcasts %}
                <li>{{ show }}</li>
            {% endfor %}
            </ol>
        </div>
    </div>
</div>
<map id="painting-map">
 <area shape="rect" coords="82,164,207,345" href="{{ url_for('display', path="dylans-head") }}">
 <area shape="rect" coords="228,50,478,278" href="{{ url_for('display', path="title-island") }}">
 <area shape="circle" coords="485,396,60" href="{{ url_for('display', path="lucid-dreamer") }}">
</map>
{% endblock %}
